// Colors
$color-pure-white: #fff;
$color-blue: #6ec6d6;
$color-white: #f6f6f6;
$color-dark-white: #ededed;
$color-lightest-grey: #dadada;
$color-lighter-grey: #c6c6c6;
$color-light-grey: #b2b2b2;
$color-grey: #9d9d9c;
$color-dark-grey: #878787;
$color-darker-grey: #706f6f;
$color-darkest-grey: #575756;
$color-dark-side-grey: #3c3c3d;
$color-light-black: #1d1d1b;

// Fonts
$container-max-width: 1000px;
$font-family: Roboto, sans-serif;
$letter-spacing: .3em;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
